//Colors
$very-warm: #FF8500;
$warm: #ffc600;
$neutral: #aabebf;
$cold: #06799F;
$very-cold: #233884;

//Fonts
$default-font: league-gothic, sans-serif;

//Dom elements
.weather-widget {
    width: 100%;
    font-family: $default-font;
    font-weight: 100;
    color: white;
}
.very-warm {
    background: $very-warm;
}
.warm {
    background: $warm;
}
.neutral {
    background: $neutral;
}
.cold {
    background: $cold;
}
.very-cold {
    background: $very-cold;
}

.cityname {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 4em;
    margin: 0;
    letter-spacing: 3px;
}

.weather {
    height: 300px;
    max-width: 600px;
    text-align: center;
    border-bottom: 2px white solid;
    margin: 0 auto;

    .wi {
        font-size: 16em;
    }
}

.weather-details {
    max-width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.temp {

    &-number {
        font-size: 15em;
    }

    .wi {
        font-size: 13em;
        vertical-align: top;
    }
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.humidity {
    font-size: 5em;
}

.wind {
    font-size: 5em;

    .wi {
        margin-right: 10px;
    }
}

// media queries

@media (max-width: 500px) {
    .weather {
        max-width: 400px;

        .wi {
            font-size: 12em;
            margin-top: 30px;
        }
    }

    .weather-details {
        max-width: 400px;
    }

    .temp {

        &-number {
            font-size: 10em;
        }
    
        .wi {
            font-size: 10em;
            vertical-align: top;
        }
    }

    .wrap {
        height: 130px;
    }

    .humidity {
        font-size: 3em;
    }
    
    .wind {
        font-size: 3em;
    }
}
